.container{
    width: 50%;
}

.indexbox{
    border: gray 1px solid;
}

.menu{
    border:1px solid gray;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menulink{
    margin-left:1em;
    margin-right:1em;
}

.forceright{
    margin-left: auto;
}